body{
    margin:0;
    font-family:  Arial, sans-serif;
}
.about{
    padding: 80px 20px;
    
    background-color: #f1f2f6;
}
.container{
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
}
.img{
    width:100%;
    border-radius: 10px;
    
}
text h1{
    margin-bottom: 15px;
}
p{
    line-height: 1.6;
    color:#555;
}
.abo::first-letter{
    font-size: 60px;
}
button{
    color:white;
    border:none;
    background-color: #1e272e;
    border-radius: 5px;
    cursor: pointer;
}