section{
  height: auto;
background-color: blanchedalmond;
margin: 150px;

}


.gallery{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  align-items: center;
  
  
}
.gallery-itms{
  margin: 10px;
  border: 2px  solid #ccc;
  width:180px;
}
 .gallery-itms img{
  width: 100%;
  height:auto;
 }

.gallery-itms:hover{
  border: 1px solid #777;
}

.gallery-item img {
  width: 100%;
  height: auto;
}
