body{
    margin:0;
   font-family: Arial, sans-serif;
}
.nav{
    border: 1px solid #555;
    padding: 10px;
    background-color: aliceblue;

    text-align: center;
    border-radius: 5px;
    
}
.nav a{
    text-decoration: none;
    margin-left: 40px;
    gap: 10px;
    color:#111;
    
}
.container{
    margin-bottom: 10px;
    padding:50px;
    border: 1px solid #111;
    height: 550px;
    background-color:rgb(233, 225, 214);
    /* border-radius: 10px; */
    display: flex;
    justify-content:space-evenly;
    
    
}
#first{
    width: 100px;
    height: 150px;
    border:1px solid #111;
    width: 200px;
    margin: 20px;
    
    flex-direction: row;
    background-color: aliceblue;

    
    
}

